@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 700;
  font-display: block;
  src: local('Spoqa Han Sans Bold'),
    url('/fonts/spoqahansansbold.woff2') format('woff2'),
    url('/fonts/spoqahansansbold.woff') format('woff'),
    url('/fonts/spoqahansansbold.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
  font-display: block;
  src: local('Spoqa Han Sans Regular'),
    url('/fonts/spoqahansansregular.woff2') format('woff2'),
    url('/fonts/spoqahansansregular.woff') format('woff'),
    url('/fonts/spoqahansansregular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 300;
  font-display: block;
  src: local('Spoqa Han Sans Light'),
    url('/fonts/spoqahansanslight.woff2') format('woff2'),
    url('/fonts/spoqahansanslight.woff') format('woff'),
    url('/fonts/spoqahansanslight.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 100;
  font-display: block;
  src: local('Spoqa Han Sans Thin'),
    url('/fonts/spoqahansansthin.woff2') format('woff2'),
    url('/fonts/spoqahansansthin.woff') format('woff'),
    url('/fonts/spoqahansansthin.ttf') format('truetype');
}

@font-face {
  font-family: 'Monaco';
  font-display: block;
  src: local('Monaco'),
    url('/fonts/monaco.ttf') format('ttf'),
}

@font-face {
  font-family: 'Averta Std PE';
  font-weight: 900;
  font-display: block;
  src: local('Averta Std PE'), url('/fonts/AvertaStd-Black.otf') format('opentype'),
}

@font-face {
  font-family: 'Averta Std PE';
  font-weight: 800;
  font-display: block;
  src: local('Averta Std PE'), url('/fonts/AvertaStd-Extrabold.otf') format('opentype'),
}

@font-face {
  font-family: 'Averta Std PE';
  font-weight: 700;
  font-display: block;
  src: local('Averta Std PE'), url('/fonts/AvertaStd-Bold.otf') format('opentype'),
}

@font-face {
  font-family: 'Averta Std PE';
  font-weight: 600;
  font-display: block;
  src: local('Averta Std PE'), url('/fonts/AvertaStd-Semibold.otf') format('opentype'),
}

@font-face {
  font-family: 'Averta Std PE';
  font-weight: 500;
  font-display: block;
  src: local('Averta Std PE'), url('/fonts/avertastdregular.otf') format('opentype'),
}

@font-face {
  font-family: 'Averta Std PE';
  font-weight: 400;
  font-display: block;
  src: local('Averta Std PE'), url('/fonts/AvertaStd-Light.otf') format('opentype'),
}

@font-face {
  font-family: 'Averta Std PE';
  font-weight: 300;
  font-display: block;
  src: local('Averta Std PE'), url('/fonts/AvertaStd-Thin.otf') format('opentype'),
}